* {
    box-sizing: border-box;
    font-size: 15px;
}

body {
    background-color: rgba(243, 243, 243, 1);
}

.center {
    text-align: center;
}

.green {
    color: rgba(146, 180, 105, 1)
}

.container {
    max-width: 50%;
    margin: 0 auto;

}

.demo-picked {
    font-size: 1.5rem;
    text-align: center;
}

.demo-picked span {
    font-weight: bold;
    color: rgba(146, 180, 105, 1);
}


.cal {
    background-color: #ffffff;
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0, .05);
    margin: 0 auto;
    width: 100%;

}

.cal .cal-btn {
    background: none;
    border: 0;
    cursor: pointer;
    line-height: normal;
    min-width: 2rem;
    outline: none;
    text-align: center;

}


.cal .cal-header {
    align-items: center;
    display: flex;
    padding: 1rem
}


.cal .cal-header__label {
    font-size: 1.5rem;
    text-align: center;
    width: 100%
}

.cal .cal-week {
    background: linear-gradient(90deg, rgba(216, 200, 94, 1) 0%, rgba(148, 183, 107, 1) 100%);
    color: #ffffff;
    display: flex;
}

.cal .cal-week span {
    flex-direction: column;
    flex: 14.28%;
    font-size: 1rem;
    font-weight: bold;
    max-width: 14.28%;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.cal .cal-body {
    background-color: rgba(231, 233, 237, .3);
    flex-wrap: wrap;
}

.cal .cal-body, .cal-date {
    display: flex;
}

.cal .cal-date {
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
    flex: 14.28%;
    max-width: 14.28%;
    padding: 1rem;
}

.cal .cal-date-active {
    cursor: pointer
}

.cal .cal-date-today {
    background: linear-gradient(230deg, rgba(216, 200, 94, 1) 0%, rgb(146, 180, 105) 100%);
    color: #ffffff;
}

.cal .cal-date-selected {
    background-color: rgba(216, 200, 94, 1);
    color: rgb(255, 255, 255);
}

